.vscode
*.o
dynamixelSDK/c++/build/linux64/.objects/
dynamixelSDK/c++/build/linux64/libdxl_x64_cpp.so
c++/build/linux64/libdxl_x64_cpp.so
c++/example/protocol2.0/control/env/
ros2_ws/build/*
ros2_ws/install/*
ros2_ws/log/*
ros2_ws/yolo11n.pt
ros2_ws/src/custom_action_cpp/
venv/
build/
ros2_ws/yolo11s-obb.pt
c++/example/protocol2.0/control/rolling_imu/roll
c++/example/protocol2.0/control/sync_read_write/sync_read_write